In [110]:
import re
import pandas as pd
import MySQLdb
import sys, csv, os
sys.path.append("D:/DataBaseUpdate/To_clone")
from ConfigFiles import config #this attaches my database credentials

In [111]:
academic = []
government = []
corporate = []
hospital = []

lookup = {'Academic': academic, 'Government': government, "Corporate": corporate, 'Hospital': hospital}

def add_to_list(item, category):
    lookup[category].append(item)

with open('AcadCorpGovIndiv.txt', 'rb') as myfile:
    category = None
    for line in myfile.readlines():
        if line.startswith("*"):
            category = line[2:].strip("\r\n")
            if category == 'People':
                break
        if not line.startswith("*"):
            add_to_list(line[6:].strip("\r\n").replace("\\b", ""), category)

In [112]:
government += ["represented", "Department of","United States of America", "The National Institute of Standards and Technology",
               "National Institutes of Health", "Tennessee Valley Authority"]
academic += ['Massachusetts Institute of Technology', 'California Institute of Technology','Rensselaer Polytechnic Institute']
hospital += ['Sloan-Kettering Institute for Cancer Research']
corporate += ['Battelle Memorial Institute', 'The Scripps Research Institute','The Salk Institute for Biological Studies','Dana-Farber Cancer Institute, Inc.', 'Midwest Research Institute', 'Southwest Research Institute', 'Whitehead Institute for Biomedical Research', 'SRI International', 'International Business Machines', 'General Dynamics']

In [113]:
#adding in the logic from Sanjay's email
with open('new_thesaurus.txt', 'rb') as myfile:
    counter =0
    for line in myfile.readlines():
        if line != "\r\n":
            if counter ==0:
                academic += [item.lstrip(" ").rstrip(" ").strip("\r\n") for item in line.split(',')]
            if counter ==1:
                government += [item.lstrip(" ").rstrip(" ").strip("\r\n") for item in line.split(',')]
            if counter ==2:
                corporate += [item.lstrip(" ").rstrip(" ").strip("\r\n") for item in line.split(',')]
            counter +=1

print "corporate"
print corporate

print "academic"
print academic

print "hospital"
print hospital

print "government"
print government

corporate
['AB$', 'AG', 'Boeing', 'Company', 'Consultant', 'Corp', 'Gmbh', 'IBM', 'Inc', 'KGAA', 'KK$', 'LLC', 'Limited', 'Ltd', 'NTT', 'NV$', 'PLC', 'SA$', 'SPA$', 'Battelle Memorial Institute', 'The Scripps Research Institute', 'The Salk Institute for Biological Studies', 'Dana-Farber Cancer Institute, Inc.', 'Midwest Research Institute', 'Southwest Research Institute', 'Whitehead Institute for Biomedical Research', 'SRI International', 'International Business Machines', 'General Dynamics', 'Inc', 'Group', 'Foundation', 'Co', 'limited', 'LTD', 'LLC', 'Corp', 'Company', 'LP', 'LLP ']
academic
['Acad', 'Academic', 'Coll', 'Colleg', 'Ecole', 'Escola', 'Inst of Tech[a-z]+', 'MIT', 'Sch', 'School', 'Univ', 'Massachusetts Institute of Technology', 'California Institute of Technology', 'Rensselaer Polytechnic Institute', 'university', 'alumni', 'univ', 'national cancer', 'brigham', 'jackson lab', 'research center', 'akademie', 'vib', 'RIKEN', 'Eye & Ear', 'medical school', 'national jewish health', 'eth zurich', 'Center for', 'univeristy', 'higher education', 'cold spring harbor', 'akadamie', 'centre for', 'fundacio', 'Universit\xe9', 'centre', 'planck', 'universuty', 'Universit\xe2t', 'fundacion', 'UNIVERSIT\xc0', 'agence nationale', 'insitute', 'UNIVERSIT\xc9', 'eye and ear in rmary', 'Society for', 'Unversity', 'cancer centre', 'universite', 'institue', 'istituto', 'cancer center', 'fondation', 'universiteit', 'universitet', 'universitaet', 'city of hope', 'educational fund', 'zentrum', 'consejo', 'ecole', 'universtiy', 'centro', 'kettering', 'mayo', 'schule', 'institucio', 'centrum', 'hospital for sick', "children's hospital", 'academisch', 'universita', "universit 'at", 'unviersity', 'georgia tech', 'school of', 'consiglio nazionale', 'intellectual properties', 'fondazione', 'national centre', 'centro nacional', 'centre national', 'foundation', 'regents', 'council', 'fred hutchinson', 'general hospital corporation', 'universidade', 'research hospital', 'medical center', 'foundation', 'universitat', 'universidad', 'colegio', 'univerisite', 'institut', 'institute', 'instituto', 'trustees', 'academia', 'academy', 'college']
hospital
['Clinic', 'Hopital', 'Hosp(ital)?', 'infirmary', 'Sloan-Kettering Institute for Cancer Research']
government
['Academ(y|ies)', 'Res Inst', 'Res Org', 'Air Force', 'Army', 'CSIRO', 'NASA', 'NSF', 'Nav(y|al)', 'USAF', 'ministry', 'represented', 'Department of', 'United States of America', 'The National Institute of Standards and Technology', 'National Institutes of Health', 'Tennessee Valley Authority', 'Aerospace Federally Funded Research and Development Center', 'Ames Laboratory', 'Argonne National Laboratory', 'Arroyo Center', 'Brookhaven National Laboratory', 'Center for Advanced Aviation System Development', 'Center for Communications and Computing', 'Center for Enterprise Modernization', 'Center for Naval Analyses', 'Center for Nuclear Waste Regulatory Analyses', 'CMS Alliance to Modernize Healthcare', 'Fermi National Accelerator Laboratory', 'Frederick National Laboratory for Cancer Research', 'Homeland Security Studies and Analysis Institute', 'Homeland Security Systems Engineering and Development Institute', 'Idaho National Laboratory', 'Jet Propulsion Laboratory', 'Judiciary Engineering and  Modernization Center', 'Lawrence Berkeley National Laboratory', 'Lincoln Laboratory', 'Los Alamos National Laboratory', 'National Biodefense Analysis and Countermeasures Center', 'National Center for Atmospheric Research', 'National Cybersecurity Center of Excellence', 'National Optical Astronomy Observatory', 'National Defense Research Institute', 'National Optical Astronomy Observatory', 'National Radio Astronomy Observatory', 'National Renewable Energy Laboratory', 'National Security Engineering Center', 'National Solar Observatory', 'Oak Ridge National Laboratory', 'Pacific Northwest National Laboratory', 'Princeton Plasma Physics Laboratory', 'Project Air Force', 'Sandia National Laboratories', 'Savannah River National Laboratory', 'Science and Technology Policy Institute', 'SLAC National Accelerator Laboratory', 'Software Engineering Institute', 'Systems and Analyses Center', 'Thomas Jefferson National Accelerator Facility']

In [114]:
academic_stops = [item if "$" in item else (item + "\\b") for item in academic ]
academic_stops = ["\\b" + item for item in academic_stops ]

corporate_stops = [item if "$" in item else (item + "\\b") for item in corporate ]
corporate_stops = ["\\b" + item for item in corporate_stops ]

government_stops = [item if "$" in item else (item + "\\b") for item in government ]
government_stops = ["\\b" + item for item in government_stops ]

hospital_stops = [item if "$" in item else (item + "\\b") for item in academic ]
hospital_stops = ["\\b" + item for item in hospital_stops ]

print "corporate"
print corporate_stops

print "academic"
print academic_stops

print "hospital"
print hospital_stops

print "government"
print government_stops

corporate
['\\bAB$', '\\bAG\\b', '\\bBoeing\\b', '\\bCompany\\b', '\\bConsultant\\b', '\\bCorp\\b', '\\bGmbh\\b', '\\bIBM\\b', '\\bInc\\b', '\\bKGAA\\b', '\\bKK$', '\\bLLC\\b', '\\bLimited\\b', '\\bLtd\\b', '\\bNTT\\b', '\\bNV$', '\\bPLC\\b', '\\bSA$', '\\bSPA$', '\\bBattelle Memorial Institute\\b', '\\bThe Scripps Research Institute\\b', '\\bThe Salk Institute for Biological Studies\\b', '\\bDana-Farber Cancer Institute, Inc.\\b', '\\bMidwest Research Institute\\b', '\\bSouthwest Research Institute\\b', '\\bWhitehead Institute for Biomedical Research\\b', '\\bSRI International\\b', '\\bInternational Business Machines\\b', '\\bGeneral Dynamics\\b', '\\bInc\\b', '\\bGroup\\b', '\\bFoundation\\b', '\\bCo\\b', '\\blimited\\b', '\\bLTD\\b', '\\bLLC\\b', '\\bCorp\\b', '\\bCompany\\b', '\\bLP\\b', '\\bLLP \\b']
academic
['\\bAcad\\b', '\\bAcademic\\b', '\\bColl\\b', '\\bColleg\\b', '\\bEcole\\b', '\\bEscola\\b', '\\bInst of Tech[a-z]+\\b', '\\bMIT\\b', '\\bSch\\b', '\\bSchool\\b', '\\bUniv\\b', '\\bMassachusetts Institute of Technology\\b', '\\bCalifornia Institute of Technology\\b', '\\bRensselaer Polytechnic Institute\\b', '\\buniversity\\b', '\\balumni\\b', '\\buniv\\b', '\\bnational cancer\\b', '\\bbrigham\\b', '\\bjackson lab\\b', '\\bresearch center\\b', '\\bakademie\\b', '\\bvib\\b', '\\bRIKEN\\b', '\\bEye & Ear\\b', '\\bmedical school\\b', '\\bnational jewish health\\b', '\\beth zurich\\b', '\\bCenter for\\b', '\\buniveristy\\b', '\\bhigher education\\b', '\\bcold spring harbor\\b', '\\bakadamie\\b', '\\bcentre for\\b', '\\bfundacio\\b', '\\bUniversit\xe9\\b', '\\bcentre\\b', '\\bplanck\\b', '\\buniversuty\\b', '\\bUniversit\xe2t\\b', '\\bfundacion\\b', '\\bUNIVERSIT\xc0\\b', '\\bagence nationale\\b', '\\binsitute\\b', '\\bUNIVERSIT\xc9\\b', '\\beye and ear in rmary\\b', '\\bSociety for\\b', '\\bUnversity\\b', '\\bcancer centre\\b', '\\buniversite\\b', '\\binstitue\\b', '\\bistituto\\b', '\\bcancer center\\b', '\\bfondation\\b', '\\buniversiteit\\b', '\\buniversitet\\b', '\\buniversitaet\\b', '\\bcity of hope\\b', '\\beducational fund\\b', '\\bzentrum\\b', '\\bconsejo\\b', '\\becole\\b', '\\buniverstiy\\b', '\\bcentro\\b', '\\bkettering\\b', '\\bmayo\\b', '\\bschule\\b', '\\binstitucio\\b', '\\bcentrum\\b', '\\bhospital for sick\\b', "\\bchildren's hospital\\b", '\\bacademisch\\b', '\\buniversita\\b', "\\buniversit 'at\\b", '\\bunviersity\\b', '\\bgeorgia tech\\b', '\\bschool of\\b', '\\bconsiglio nazionale\\b', '\\bintellectual properties\\b', '\\bfondazione\\b', '\\bnational centre\\b', '\\bcentro nacional\\b', '\\bcentre national\\b', '\\bfoundation\\b', '\\bregents\\b', '\\bcouncil\\b', '\\bfred hutchinson\\b', '\\bgeneral hospital corporation\\b', '\\buniversidade\\b', '\\bresearch hospital\\b', '\\bmedical center\\b', '\\bfoundation\\b', '\\buniversitat\\b', '\\buniversidad\\b', '\\bcolegio\\b', '\\buniverisite\\b', '\\binstitut\\b', '\\binstitute\\b', '\\binstituto\\b', '\\btrustees\\b', '\\bacademia\\b', '\\bacademy\\b', '\\bcollege\\b']
hospital
['\\bAcad\\b', '\\bAcademic\\b', '\\bColl\\b', '\\bColleg\\b', '\\bEcole\\b', '\\bEscola\\b', '\\bInst of Tech[a-z]+\\b', '\\bMIT\\b', '\\bSch\\b', '\\bSchool\\b', '\\bUniv\\b', '\\bMassachusetts Institute of Technology\\b', '\\bCalifornia Institute of Technology\\b', '\\bRensselaer Polytechnic Institute\\b', '\\buniversity\\b', '\\balumni\\b', '\\buniv\\b', '\\bnational cancer\\b', '\\bbrigham\\b', '\\bjackson lab\\b', '\\bresearch center\\b', '\\bakademie\\b', '\\bvib\\b', '\\bRIKEN\\b', '\\bEye & Ear\\b', '\\bmedical school\\b', '\\bnational jewish health\\b', '\\beth zurich\\b', '\\bCenter for\\b', '\\buniveristy\\b', '\\bhigher education\\b', '\\bcold spring harbor\\b', '\\bakadamie\\b', '\\bcentre for\\b', '\\bfundacio\\b', '\\bUniversit\xe9\\b', '\\bcentre\\b', '\\bplanck\\b', '\\buniversuty\\b', '\\bUniversit\xe2t\\b', '\\bfundacion\\b', '\\bUNIVERSIT\xc0\\b', '\\bagence nationale\\b', '\\binsitute\\b', '\\bUNIVERSIT\xc9\\b', '\\beye and ear in rmary\\b', '\\bSociety for\\b', '\\bUnversity\\b', '\\bcancer centre\\b', '\\buniversite\\b', '\\binstitue\\b', '\\bistituto\\b', '\\bcancer center\\b', '\\bfondation\\b', '\\buniversiteit\\b', '\\buniversitet\\b', '\\buniversitaet\\b', '\\bcity of hope\\b', '\\beducational fund\\b', '\\bzentrum\\b', '\\bconsejo\\b', '\\becole\\b', '\\buniverstiy\\b', '\\bcentro\\b', '\\bkettering\\b', '\\bmayo\\b', '\\bschule\\b', '\\binstitucio\\b', '\\bcentrum\\b', '\\bhospital for sick\\b', "\\bchildren's hospital\\b", '\\bacademisch\\b', '\\buniversita\\b', "\\buniversit 'at\\b", '\\bunviersity\\b', '\\bgeorgia tech\\b', '\\bschool of\\b', '\\bconsiglio nazionale\\b', '\\bintellectual properties\\b', '\\bfondazione\\b', '\\bnational centre\\b', '\\bcentro nacional\\b', '\\bcentre national\\b', '\\bfoundation\\b', '\\bregents\\b', '\\bcouncil\\b', '\\bfred hutchinson\\b', '\\bgeneral hospital corporation\\b', '\\buniversidade\\b', '\\bresearch hospital\\b', '\\bmedical center\\b', '\\bfoundation\\b', '\\buniversitat\\b', '\\buniversidad\\b', '\\bcolegio\\b', '\\buniverisite\\b', '\\binstitut\\b', '\\binstitute\\b', '\\binstituto\\b', '\\btrustees\\b', '\\bacademia\\b', '\\bacademy\\b', '\\bcollege\\b']
government
['\\bAcadem(y|ies)\\b', '\\bRes Inst\\b', '\\bRes Org\\b', '\\bAir Force\\b', '\\bArmy\\b', '\\bCSIRO\\b', '\\bNASA\\b', '\\bNSF\\b', '\\bNav(y|al)\\b', '\\bUSAF\\b', '\\bministry\\b', '\\brepresented\\b', '\\bDepartment of\\b', '\\bUnited States of America\\b', '\\bThe National Institute of Standards and Technology\\b', '\\bNational Institutes of Health\\b', '\\bTennessee Valley Authority\\b', '\\bAerospace Federally Funded Research and Development Center\\b', '\\bAmes Laboratory\\b', '\\bArgonne National Laboratory\\b', '\\bArroyo Center\\b', '\\bBrookhaven National Laboratory\\b', '\\bCenter for Advanced Aviation System Development\\b', '\\bCenter for Communications and Computing\\b', '\\bCenter for Enterprise Modernization\\b', '\\bCenter for Naval Analyses\\b', '\\bCenter for Nuclear Waste Regulatory Analyses\\b', '\\bCMS Alliance to Modernize Healthcare\\b', '\\bFermi National Accelerator Laboratory\\b', '\\bFrederick National Laboratory for Cancer Research\\b', '\\bHomeland Security Studies and Analysis Institute\\b', '\\bHomeland Security Systems Engineering and Development Institute\\b', '\\bIdaho National Laboratory\\b', '\\bJet Propulsion Laboratory\\b', '\\bJudiciary Engineering and  Modernization Center\\b', '\\bLawrence Berkeley National Laboratory\\b', '\\bLincoln Laboratory\\b', '\\bLos Alamos National Laboratory\\b', '\\bNational Biodefense Analysis and Countermeasures Center\\b', '\\bNational Center for Atmospheric Research\\b', '\\bNational Cybersecurity Center of Excellence\\b', '\\bNational Optical Astronomy Observatory\\b', '\\bNational Defense Research Institute\\b', '\\bNational Optical Astronomy Observatory\\b', '\\bNational Radio Astronomy Observatory\\b', '\\bNational Renewable Energy Laboratory\\b', '\\bNational Security Engineering Center\\b', '\\bNational Solar Observatory\\b', '\\bOak Ridge National Laboratory\\b', '\\bPacific Northwest National Laboratory\\b', '\\bPrinceton Plasma Physics Laboratory\\b', '\\bProject Air Force\\b', '\\bSandia National Laboratories\\b', '\\bSavannah River National Laboratory\\b', '\\bScience and Technology Policy Institute\\b', '\\bSLAC National Accelerator Laboratory\\b', '\\bSoftware Engineering Institute\\b', '\\bSystems and Analyses Center\\b', '\\bThomas Jefferson National Accelerator Facility\\b']

In [120]:
academic_regex = re.compile("|".join(academic), re.IGNORECASE)

In [121]:
government_regex = re.compile("|".join(government), re.IGNORECASE)

In [122]:
corporate_regex = re.compile("|".join(corporate), re.IGNORECASE)
hospital_regex = re.compile("|".join(hospital), re.IGNORECASE)

institute_regex = re.compile("institute", re.IGNORECASE)

In [127]:
def org_types(text):
    if text == "":
        return "Person"
    academic = bool(re.search(academic_regex, text))
    government = bool(re.search(government_regex, text))
    corporate = bool(re.search(corporate_regex, text))
    hospital = bool(re.search(hospital_regex, text))
    corp_institute = bool(re.search(institute_regex, text)) & corporate & academic 

    if corp_institute:
        return "Corporate"
    if academic: 
        return "Academic"
    if government:
        return "Government"
    if hospital:
        return "Hospital"
    if corporate:
        return "Corporate"
    else:
        return "Ambiguous"

In [128]:
data = pd.read_csv('F:\Govt_Int\Final_CSVS/assignee_type.csv')
data['organization'] = data['organization'].fillna("")
data = data.dropna()
data['thes_types'] = data['organization'].apply(lambda x : org_types(x))
print data

       patent_id  assignee_type  \
0        3930295            2.0
1        3930295            2.0
2        3930366            2.0
3        3930405            6.0
4        3930449            6.0
5        3930537            6.0
6        3930541            6.0
7        3930550            6.0
8        3930628            6.0
10       3930735            6.0
12       3930848            2.0
13       3930956            2.0
15       3931325            2.0
16       3931354            2.0
17       3931388            6.0
18       3931447            6.0
19       3931456            6.0
20       3931462            6.0
21       3931513            2.0
23       3931522            6.0
24       3931532            6.0
25       3931607            6.0
26       3931687            2.0
27       3932014            6.0
28       3932123            6.0
29       3932226            2.0
30       3932262            2.0
31       3932300            6.0
32       3932546            2.0
33       3932592            2.0
...          ...            ...
138652   RE45230            2.0
138653   RE45266            2.0
138654   RE45314            2.0
138655   RE45314            2.0
138656   RE45317            2.0
138657   RE45424            2.0
138658   RE45512            2.0
138659   RE45517            2.0
138660   RE45539            2.0
138661   RE45541            2.0
138662   RE45578            2.0
138663   RE45690            2.0
138664   RE45703            2.0
138665   RE45718            2.0
138666   RE45725            2.0
138667   RE45911            2.0
138668   RE45930            2.0
138669   RE46071            2.0
138670   RE46088            2.0
138671   RE46129            2.0
138672   RE46211            2.0
138673   RE46211            6.0
138674   RE46290            2.0
138675   RE46322            2.0
138676   RE46372            2.0
138677   RE46412            2.0
138678   RE46423            2.0
138679   RE46479            2.0
138680   RE46493            2.0
138681   RE46545            2.0

                                             organization  thes_types
0                                  Signetics Corporation    Corporate
1                                         Watkins-Johnson   Ambiguous
2                              General Motors Corporation   Corporate
3       The United States of America as represented by...  Government
4       The United States of America as represented by...  Government
5       The United States of America as represented by...  Government
6       The United States of America as represented by...  Government
7       The United States of America as represented by...  Government
8       The United States of America as represented by...  Government
10      The United States of America as represented by...  Government
12                        United Technologies Corporation   Corporate
13              The Regents of the University of Michigan    Academic
15                               The Dow Chemical Company   Corporate
16                                               TRW Inc.   Corporate
17      The United States of America as represented by...  Government
18      The United States of America as represented by...  Government
19      The United States of America as represented by...  Government
20      The United States of America as represented by...  Government
21                                      Ampex Corporation   Corporate
23      The United States of America as represented by...  Government
24      The United States of America as represented by...  Government
25      The United States of America as represented by...  Government
26                                Clark Equipment Company   Corporate
27      The United States of America as represented by...  Government
28      The United States of America as represented by...  Government
29                                        RCA Corporation   Corporate
30                     California Institute of Technology    Academic
31      The United States of America as represented by...  Government
32                  Massachusetts Institute of Technology    Academic
33                  Massachusetts Institute of Technology    Academic
...                                                   ...         ...
138652             Regents of the University of Minnesota    Academic
138653              Massachusetts Institute of Technology    Academic
138654                               Johns Hopkins Univ.     Academic
138655                      Clarion Pharmaceuticals Inc.    Corporate
138656          The Regents of the University of Colorado    Academic
138657                    Social Perspective Mgmt, L.L.C.   Ambiguous
138658                   The General Hospital Corporation    Academic
138659                                         Cree, Inc.   Corporate
138660          Lawrence Livermore National Security, LLC   Corporate
138661              Massachusetts Institute of Technology    Academic
138662              Massachusetts Institute of Technology    Academic
138663                               Siemens Energy, Inc.   Corporate
138664                                  OneD Material LLC   Corporate
138665                      Boston Scientific Corporation   Corporate
138666           University of Virginia Patent Foundation    Academic
138667                               University of Hawaii    Academic
138668        The Regents of the University of California    Academic
138669              Paragon Space Development Corporation   Corporate
138670                               SunPower Corporation   Corporate
138671       Board of Regents, University of Texas System    Academic
138672        The Regents of the University of California    Academic
138673  The United States of America as Represented by...  Government
138674                 The Penn State Research Foundation    Academic
138675          Lawrence Livermore National Security, LLC   Corporate
138676          The Regents of the University of Michigan    Academic
138677                   The General Hospital Corporation    Academic
138678                                       AERase, Inc.   Corporate
138679                  Los Alamos National Security, LLC   Corporate
138680                   The General Hospital Corporation    Academic
138681                  Los Alamos National Security, LLC   Corporate

[133367 rows x 4 columns]

In [41]:
#data["Inst"] = data['organization'].apply(lambda x : True if 'Institute' in x else False)
#data[data["Inst"]==True].groupby('organization').max().sort_values("thes_types", ascending=False)

In [129]:
data.to_csv('F:\Govt_Int\Final_CSVS/assignees_lookedup_types.csv')

### Check the most common assignees

In [130]:
data = pd.read_csv('F:\Govt_Int\Final_CSVS/assignees_lookedup_types.csv')
data.head()

,Unnamed: 0,patent_id,assignee_type,organization,thes_types
0,0,3930295,2.0,Signetics Corporation,Corporate
1,1,3930295,2.0,Watkins-Johnson,Ambiguous
2,2,3930366,2.0,General Motors Corporation,Corporate
3,3,3930405,6.0,The United States of America as represented by...,Government
4,4,3930449,6.0,The United States of America as represented by...,Government

In [89]:
counts = data.groupby("organization").agg({'patent_id':'count', 'thes_types':'min'})
to_check = counts[counts['patent_id'] >20]
#to_check['thes_types'].value_counts()

In [90]:
to_check.reset_index(inplace=True)
to_check.columns = ['organization', 'type', 'count']
to_check.head(20)
#to_check.to_csv('F:/Govt_Int/ManualCheck/top_orgs_to_check.csv', index = False)

                                         organization       type  count
0                    3M Innovative Properties Company  Corporate    143
1                    AIR PRODUCTS AND CHEMICALS, INC.  Corporate    110
2                        ARCH Development Corporation  Corporate    255
3                              AT&T Bell Laboratories  Corporate     23
4                                 Abbott Laboratories  Corporate     41
5                            Abuzz Technologies, Inc.  Corporate     27
6                    Advanced Ceramics Research, Inc.  Corporate     21
7                        Advanced Fuel Research, Inc.  Corporate     25
8                         Advanced Liquid Logic, Inc.  Corporate     75
9                        Advanced Micro Devices, Inc.  Corporate     37
10         Advanced Research and Technology Institute   Academic     26
11                Advanced Technology Materials, Inc.  Corporate     46
12                            Aerodyne Research, Inc.  Corporate     22
13                                   Affymetrix, Inc.  Corporate     75
14                         Agilent Technologies, Inc.  Corporate     30
15  Albert Einstein College of Medicine of Yeshiva...  Ambiguous    175
16          Albert Einstein College of Medicine, Inc.  Ambiguous     28
17                                     Alcatel Lucent  Corporate     49
18                            Alcatel-Lucent USA Inc.  Corporate     35
19                                         Alcoa Inc.  Corporate     24

### Use the regex to classify all the assignees

In [14]:
all_assignees = pd.read_csv("F:/Govt_Int/Final_CSVS/all_assignees.csv").fillna("")
all_assignees['thes_types'] = all_assignees['organization'].apply(lambda x : org_types(x))
all_assignees.head()

,id,type,name_first,name_last,organization,thes_types
0,00003f5c5d92354570b9bae01b3e7272,0,,,"E-Z Anchor Bolt Template, Inc.",Corporate
1,000058159cdbf11415ffad8001c192f6,0,,,Roll and Go AG,Corporate
2,00005a7b722c0d70af7c0f6706cdc067,0,,,PERSCITUS INNOVATIONS LLC,Corporate
3,00007b72e8f46f63797266c63ad3a34f,0,,,"Fleetwood Aluminum Products, Inc.",Corporate
4,000099cec50350524fc0704f0cdd8db6,0,,,B.V. Nederlandse Industrie Van Eiprodukten,Corporate

In [15]:
top_orgs = pd.read_csv("F:/Govt_Int/Final_CSVS/top_orgs_to_check_checked.csv")
top_orgs.head()

,organization,type,count,updated_type,check_flag,NonProfit
0,3M Innovative Properties Company,Corporate,139,NaN,NaN,NaN
1,"AIR PRODUCTS AND CHEMICALS, INC.",Corporate,102,NaN,NaN,NaN
2,ARCH Development Corporation,Corporate,261,NaN,NaN,NaN
3,AT&T Bell Laboratories,Corporate,23,NaN,NaN,NaN
4,"ATC Technologies, Inc.",Corporate,26,NaN,NaN,NaN

In [16]:
dfmerged = pd.merge(top_orgs, all_assignees, on = "organization", how = "outer")

In [17]:
dfmerged['final_type'] = dfmerged.apply(lambda row : row['updated_type'] if not pd.isnull(row['updated_type']) else row['thes_types'],axis=1)

In [18]:
dfmerged = dfmerged[['id', 'type_y', 'name_first', 'name_last', 'organization', 'final_type']]
dfmerged.rename({'type_y': 'type', 'final_type': 'thes_types'}, inplace = True)
dfmerged.head()

,id,type_y,name_first,name_last,organization,final_type
0,358d3cb746241ec1105de0542e47fbcd,0.0,,,3M Innovative Properties Company,Corporate
1,aca8358f38f9eb71191a353a59a96ea9,0.0,,,"AIR PRODUCTS AND CHEMICALS, INC.",Corporate
2,610f73966a02992c651f46e9d0490d62,0.0,,,ARCH Development Corporation,Corporate
3,3a95e99e9d014e0f405159dfb75ff537,0.0,,,AT&T Bell Laboratories,Corporate
4,25c424953c244978383e1fe39d8c1a8c,0.0,,,"ATC Technologies, Inc.",Corporate

In [19]:
all_assignees['thes_types'].value_counts()

Corporate     322672
Person         40483
Ambiguous       6508
Academic        6320
Government       688
Hospital         242
Name: thes_types, dtype: int64

In [20]:
mydb = MySQLdb.connect(config.host, config.username, config.password, 'patent_20170808')

In [21]:
#only run this once to upload the data
all_assignees.to_sql(con=mydb, name='assignees_by_type_v2', if_exists='replace', flavor='mysql')

C:\Program Files\Anaconda2\lib\site-packages\pandas\core\generic.py:1165: FutureWarning: The 'mysql' flavor with DBAPI connection is deprecated and will be removed in future versions. MySQL will be further supported with SQLAlchemy connectables.
  chunksize=chunksize, dtype=dtype)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 67
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 74
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 171
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 179
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 273
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 326
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 335
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 367
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 398
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 473
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 644
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 692
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 727
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 750
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 781
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 803
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 917
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 929
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 1043
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 1103
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 1225
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'name_first' at row 1292
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 1361
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 1393
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 1413
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 1422
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 1650
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 1651
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 1737
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 1758
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'name_first' at row 1847
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 1904
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 1944
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 1957
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 2005
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'name_first' at row 2117
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'name_first' at row 2184
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 2352
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 2378
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 2411
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 2489
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 2525
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 2549
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 2625
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 2683
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 2738
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'name_first' at row 2748
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'name_first' at row 2842
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 2874
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'name_first' at row 2879
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'name_first' at row 2890
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 2964
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 2981
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 3211
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 3220
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'name_first' at row 3223
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 3245
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 3315
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 3457
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 3465
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 3502
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 3538
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 3551
  conn.executemany(self.insert_statement(), data_list)
C:\Program Files\Anaconda2\lib\site-packages\pandas\io\sql.py:1445: Warning: Data truncated for column 'organization' at row 3667
  conn.executemany(self.insert_statement(), data_list)